<!doctype html>
<html>
<head>
  <title>Edit Recipient</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container-fluid">
<h1>Edit Recipient</h1>
{% if access_token %}
  <div id="information">
    <div id="action_bar">
      <a href="/recipients" class="action">Recipients</a> |
      <a href="/logout" class="action">Logout</a>
    </div>
  <form action="#" method="post">
  <input type="hidden" name="recipient_id" value="{{ recipient.id }}">
  <br>
  <table class="entry_table">
    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" value="{{ recipient.name }}" required></td>
	</tr>
	<tr>
     <td>Birthday:</td>
	  <td><input type="date" name="birthday" value="{{ recipient.birthday }}" required></td>
	</tr>
	<tr>
      <td class="align_right" colspan="2"><input class="button" type="submit" value="Save" id="submit"></td>
	</tr>
  </table>
  </form>
{% else %}
  <h3>Invalid access</h3>
  <div id="container">You must be logged in to edit a recipient.</div>
{% endif %}
</div>
</body>
</html>