<!doctype html>
<html>
<head>
  <title>Gifts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container-fluid">
<h1>Gifts for {{ recipient.name }}</h1>
  <div id="information">
  <div id="action_bar">
    <a href="/recipients" class="action">Recipients</a> |
    <a href="/gift/new/{{ recipient.id }}" class="action">Add Gift</a> |    
    <a href="/logout" class="action">Logout</a>
  </div>
  <br>
  <table class="list_table">
    <tr>
      <th>Description</th>
      <th>Year</th>
      <th>Holiday</th>
      <th>Cost</th>
      <th colspan="2"></th>
    </tr>
{% set holidays = ["Christmas", "Birthday"] %}
{% for gift in gift_list %}
    <tr>
      <td>{{ gift.description }}</td>
      <td class="align_right">{{ gift.year }}</td>
      <td>{{ holidays[gift.holiday | int -1] }}</td>
      <td class="align_right">{{ gift.cost }}</td>
      <td><a href="/gift/edit/{{ recipient.id }}/{{ gift.id }}" class="button"> Edit </a></td>
      <td><a href="/gift/remove/{{ recipient.id }}/{{ gift.id }}" class="button">Remove</a></td>
    </tr>
{% endfor %}
  </table>
  </div>
</div>
</body>
</html>
