<!doctype html>
<html>
<head>
<title>Gifts</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Gifts for {{ recipient.name }}</h1>
  <div id="container">
  <a href="/recipients">Recipients</a>
  <br>
  <table class="list_table">
    <tr>
      <th>Description</th>
      <th>Cost</th>
    </tr>
{% for gift in gift_list %}
    <tr>
      <td>{{ gift.description }}</td>
      <td class="align_right">{{ gift.cost }}</td>
    </tr>
{% endfor %}
  </table>
  </div>
</body>
</html>
