<!doctype html>
<html>
<head>
  <title>Holidays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container-fluid">
  <h1>Holiday List</h1>
  <div id="information">
    <div id="action_bar">
      <a href="/recipients" class="action">Recipients</a> |
      <a href="/logout" class="action">Logout</a>
    </div>
    <br>
    <table class="list_table">
      <tr>
        <th>Year</th>
        <th>Holiday</th>
        <th></th>
      </tr>
{% set holiday_list = ["Christmas", "Birthday"] %}
{% for holiday in holidays %}
      <tr>
        <td>{{ holiday.year }}</td>
        <td><a href="/holiday_gifts/{{ holiday.year }}/{{ holiday.holiday }}">{{ holiday_list[holiday.holiday | int -1] }}</a></td>
        <td class="align_right"><a href="/clear_holiday/{{ holiday.year }}/{{ holiday.holiday }}" class="button"> Clear </a></td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>
</body>
</html>
