<!doctype html>
<html>
<head>
<title>Recipient</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Recipient List</h1>
  <div id="container">
  <div id="action_bar">
    <a href="/recipient/new" class="action">Add Recipient</a> | 
    <a href="/logout" class="action">Logout</a>
  </div>
  <br>
  <table class="list_table">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
    </tr>
{% for recipient in recipient_list %}
    <tr>
      <td><a href="/recipient_gifts/{{ recipient.id }}">{{ recipient.name }}</a></td>
      <td>{{ recipient.birthday.strftime('%B, %e') }}</td>
    </tr>
{% endfor %}
  </table>
  </div>
</body>
</html>
