<!doctype html>
<html>
<head>
<title>Recipient</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Recipient List</h1>
  <div id="container">
  <br>
  <table class="list_table">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
    </tr>
{% for recipient in recipient_list %}
    <tr>
      <td>{{ recipient.name }}</td>
      <td>{{ recipient.birthday.strftime('%B, %e') }}</td>
    </tr>
{% endfor %}
  </table>
  </div>
</body>
</html>
