<!doctype html>
<html>
<head>
  <title>Recipient</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container-fluid">
  <h1>Recipient List</h1>
  <div id="information">
    <div id="action_bar">
      <a href="/holidays" class="action">Holidays</a> | 
      <a href="/recipient/new" class="action">Add Recipient</a> |
      <a href="/logout" class="action">Logout</a>
    </div>
    <br>
    <table class="list_table">
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th colspan="2"></th>
      </tr>
{% for recipient in recipient_list %}
      <tr>
        <td><a href="/recipient_gifts/{{ recipient.id }}">{{ recipient.name }}</a></td>
        <td>{{ recipient.birthday.strftime('%B, %e') }}</td>
        <td class="align_right"><a href="/recipient/edit/{{ recipient.id }}" class="button"> Edit </a></td>
        <td class="align_right"><a href="/recipient/remove/{{ recipient.id }}" class="button">Remove</a></td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>
</body>
</html>
